@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
	font-family: 'Lato', sans-serif;
}
table {
	border-collapse: collapse;
}
th, td {
	border: 1px solid #ccc;
	padding: 10px;
}
